{
    "bracketSameLine": true,
    "bracketSpacing": true,
    "embeddedLanguageFormatting": "auto",
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 120,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "semi": false,
    "singleAttributePerLine": false,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "es5",
    "useTabs": false,
    "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte"
            }
        },
        {
            "files": "src/data/data.json",
            "options": {
                "plugins": []
            }
        }
    ]
}
